:root {
  --primary-color: #00063a;
  --secondary-color: #FECC02;
}

body {
  margin: 0;
  animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }
ul {
  list-style: none;
  padding-inline-start: 0;
}
li {
  list-style: none;
}


.actorDetailsMovieList {
  display: inline-flex;
  border-top: 2px solid var(--secondary-color);
  padding-top: 20px;
}
.actorDetailsMovieList a {
  margin: 0 15px;
}

h2 {
  color: var(--primary-color);
}

header {
  display: inline-flex;
  width: 100%;
  position: relative;
  height: fit-content;
  background-color: var(--primary-color);
  font-family: 'Righteous', cursive;
  letter-spacing: 2px;

  overflow: hidden;
}
#title {
  padding-bottom: 10px;
}
#title h1 {
  font-size: 3em;
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
  margin-left: 32px;
  padding-top: 7px;
}
#title span {
  font-size: 1.1em;
  color: var(--secondary-color);
  letter-spacing: 15px;
  margin-left: 41px;
  position: relative;
  bottom: 5px;
}
header ul {
  position: absolute;
  right: 10px;
  bottom: 0px;
  display: inline-flex;
  color: white;
  list-style-type: none;
  margin-block-end: 3px;
  font-size: 100%;
}
header ul li {
  margin: 0 5px;
  padding: 7px;
  cursor: pointer;

  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-underline-offset: 14px;
  text-decoration-thickness: 0px;
  transition: all 0.5s;
}
header ul li:hover {
  color: var(--secondary-color);
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-underline-offset: 11px;
  text-decoration-thickness: 5px;
}
.activeNav {
  color: var(--secondary-color);
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
}

.titleSvgContainer {
  position: absolute;
  top: 0;
}

.titleSvgPath {
  /* opacity: 0.8; */
  /* transform:scale(0.8);   */
  fill: rgba(254, 204, 2, 0); 
  stroke: var(--secondary-color); 
  stroke-width: 2; 
  stroke-linecap: round; 
  stroke-linejoin:  miter; 
  stroke-miterlimit: 4;
  transition: stroke 0.4s, fill 0.4s;
}

.actorDetailInfoContent {
  text-align: left;
}
.detailStrong {
  font-weight: 900;
  color: var(--primary-color);
  font-size: 1.4em;
  /* text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3), 1px -1px 0 rgba(0, 0, 0, 0.3), -1px 1px 0 rgba(0, 0, 0, 0.3), -1px -1px 0 rgba(0, 0, 0, 0.3), 1px 0px 0 rgba(0, 0, 0, 0.3), 0px 1px 0 rgba(0, 0, 0, 0.3), -1px 0px 0 rgba(0, 0, 0, 0.3), 0px -1px 0 rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.3); */
}




main {
    font-family: 'Roboto condensed', sans-serif;
    text-align:center;
    width: 100%;
    margin: 0 auto;

    margin-bottom: 40px;

    position: relative;
}

.backButton {
  position: absolute;
  right: 20px;
  top: 80px;
}


.movieListTitle {
  font-size:1.9em;
}
.underlineMovieListTitle {
  width: 110%;
  position: absolute;
  height: 20px;
  bottom: 3px;
  right: 0px;
  z-index: -99;
  background-color: var(--secondary-color);
}


.actorsListGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 25px;

  width: 80%;
  margin: 0 auto;
}
.directorsListGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 25px;

  width: 80%;
  margin: 0 auto;
}

.personCardImg {
  width: 150px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  margin: 0 auto;

  transition: all 0.5s;
}

.personCardImgWrapper {
  width: 150px;
  height: 180px;
  overflow: hidden;
  border-bottom: 3px solid rgba(0,0,0,0.3);

  /* transition: all 0.5s; */
}

.actorsCard {
  display: block;
  margin: 0 auto;
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  height: fit-content;
  transition: all 0.5s;
}
.alignLeft {
  margin: 0;
}

.movieDetailActorsDiv {
  margin-block-start: 0;
  margin-block-end: 0;
  display: inline-flex;
  margin-bottom: 25px;
}
.movieDetailActorsDiv a {
  margin: 0 15px 0 0;
}

.movieDetailsSubtitleActor {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 50px;
}
.movieDetailsSubtitle {
  font-weight: bold;
  font-size: 1.2em;
  /* margin-bottom: 50px; */
}

.movieDetailSubGrid {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
}
.movieDetailInfoDiv {
  width: 50%;
}

.actorsCard:hover {
  box-shadow: 0px 0px 10px var(--secondary-color);
}

.actorsCard:hover .personCardImg {
  opacity: 0.8;
  /* width: 120%; */
  transform: scale(1.1);
}

.actorsCard:hover .personCardImgWrapper {
  border-bottom: 3px solid var(--secondary-color);
}

.actorsCard:hover .actorCardName {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.actorCardName {
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 7px 0;
  transition: all 0.5s;
  text-align: center;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}


.actorsCard:hover .directorCardName {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.directorCardName {
  text-align: center;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 7px 0;
  transition: all 0.5s;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}


#searchDiv {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(0 6 58 / 20%);
}
#searchDiv form {
  position: relative;
  width: 50%;
  margin: 0px auto 0 auto;

}
#searchIcon {
  position: absolute;
  top: 6px;
  /* left: 10px; */
  transform: translateX(8px);
  z-index: 99;
}
#searchSubmit {
  position: absolute;
  top: 4px;
  border-width: 0;
  padding: 3px 8px;
  border-radius: 100px;
  transform: translateX(-42px);
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}
#searchSubmit:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--secondary-color);
}

#inputSearch {
  position: relative;
  width: 60%;
  padding: 5px 25px;
  border: 2px solid rgba(0, 6, 58, 0.5);
  border-radius: 100px;
  transition: all 0.5s;
  /* margin-top: 10px; */
}
#inputSearch:active {
  border: 2px solid rgba(0, 6, 58, 1);

}

#gridHomepage {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."; 

  font-family: 'Roboto Condensed', sans-serif;

  width: 75%;
  margin: 0 auto;
  margin-top: 50px;

}

.subtitleDiv {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  margin-bottom: 35px;
  font-size: 1.15em;
}
.subtitleDiv h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.underlineElem {
  width: 110%;
  position: absolute;
  height: 15px;
  bottom: 3px;
  right: 0px;
  z-index: -99;
  background-color: var(--secondary-color);
}
.subUnderlineElem {
  width: 110%;
  position: absolute;
  height: 15px;
  bottom: 3px;
  right: 0px;
  z-index: -99;
  background-color: var(--secondary-color);
}
.underlineActorElem {
  width: 110%;
  position: absolute;
  height: 20px;
  bottom: 3px;
  right: 0px;
  z-index: -99;
  background-color: var(--secondary-color);
}
.subUnderlineActorElem {
  width: 110%;
  position: absolute;
  height: 16px;
  bottom: 3px;
  right: 0px;
  z-index: -99;
  background-color: var(--secondary-color);
}
.movieDetailGenre {
  padding: 2px 5px;
    border-radius: 2px;
    transition: all 0.4s;
}
.movieDetailGenre:hover {
  padding: 2px 10px;
  opacity: 0.9;
}

.movieDetailSubtitleDiv {
  width: fit-content;
  position: relative;
  margin-bottom: 35px;
  font-size: 1.15em;
}
.movieDetailSubtitleDiv h2 {
  margin-block-end: 0;
}

.actorDetailSubtitleDiv {
  width: fit-content;
  position: relative;
  font-size: 1.15em;
  margin: 0 auto;
  margin-bottom: 35px;
}

.movieTitleContainer {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  margin-bottom: 15px;
  font-size: 1.15em;
}
.movieTitleContainer p {
  margin-block-end: 0;
}
.underlineMovieTitle {
  width: 115%;
  position: absolute;
  height: 24px;
  bottom: 3px;
  right: -1px;
  z-index: -99;
  background-color: var(--primary-color);
  transition: all 0.6s;
}


.newsCard {
    width: 310px;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0 / 15%);
    border-radius: 5px;
    padding-bottom: 15px;
    margin-bottom: 20px;

    cursor: pointer;
    transition: all 0.4s;

    position: relative;
}

.newsCard:hover .newsImg {
    opacity: 0.7;
    transform: scale(1.1);
}
.newsCard:hover {
  border-color: var(--secondary-color);
}
.newsCard:hover .newsImg {
  border-bottom: 1px solid var(--secondary-color);
}

.newsContent {
  margin: 10px 13px;
  text-align: justify;
  font-size: 105%;

    max-height: 82px;
    overflow: hidden;
}

.newsImgWrapper {
  width: 310px;
  height: 170px;
  overflow: hidden;
}
.newsImg {
  width: 310px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  transition: all 0.4s;
  border-bottom: 1px solid var(--primary-color);
  transition: all 0.4s;
}

.newsPubDate {
  position: absolute;
    bottom: 7px;
    right: 12px;
    font-size: 0.72em;
    margin-block-end: 0;
    opacity: 0.6;
}






.lastAddCard {
  width: 320px;
  margin: 0 auto;
  border: 1px solid rgb(0 6 58 / 10%);
  border-radius: 5px;
  margin-bottom: 20px;

  cursor: pointer;
  transition: all 0.5s;

  position: relative;

  display: inline-flex;

  overflow: hidden;
}
.lastAddImgWrapper {
  width: 140px;
  height: 170px;
  overflow: hidden;
  transition: all 0.5s;

  border-right: 1px solid rgba(0, 6, 58, 0.3);
}
.lastAddImg {
  width: 140px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom: 1px solid var(--primary-color);
  transition: all 0.5s;
}
.lastAddTitle {
  font-size: 1.2em;
  margin: 0 auto;
  transform: translateY(40%);

  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 0px;
  text-decoration-color: rgba(0,0,0,0);

  transition: all 0.5s;
}
.lastAddPubDate {
  position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 3px 7px;
    background-color: rgba(125,125,125,0.1);
    border-top-left-radius: 7px;
    /* color: var(--primary-color); */
    font-size: 0.72em;
    margin-block-end: 0;
    opacity: 0.7;
}

.lastAddCard:hover {
  background-color: #00063a10;
}
.lastAddCard:hover .lastAddImgWrapper {
  filter: drop-shadow(0px 0px 4px black);
}
.lastAddCard:hover .lastAddTitle {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--secondary-color);
}
.lastAddCard:hover .lastAddImg {
  transform: scale(1.08);
}


.newsMovie {
  border-right: 3px solid var(--primary-color);
}
.newsPerson {
  border-right: 3px solid var(--secondary-color);

}


.styleMovieLabel {
  background-color: #00063aa4;
  color: #fecc02;
  transition: all 0.4s;
}
.stylePersonLabel {
  background-color: #fecc02a7;
  color: #00063a;
  transition: all 0.4s;
}

.lastAddType {
  position: absolute;
  top: 0;
  right: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 3px 9px;

  transition: all 0.4s;

  border-bottom-left-radius: 4px;
}

.lastAddCard:hover .styleMovieLabel {
  background-color: #00063ad7;
  color: #fecc02;
}
.lastAddCard:hover .stylePersonLabel {
  background-color: #fecc02e5;
  color: #00063a;
}




.movieDetailGrid {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 15px;

  width: 80%;
  margin: 0 auto;
}

.movieDetailsImg {
  width: 100%;
  border-radius: 5px;
  /* max-width:  */
}

.movieDetailTitle {
  font-size: 1.8em;
}

.movieDetailsInfos {
  text-align: left;
}

.movieDetailDirectorDiv {
  text-align: center;
  width: fit-content;
}
.movieDetailDirectorDiv p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.movieCard {
  width: 260px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  /* padding-bottom: 15px; */
  margin-bottom: 20px;

  cursor: pointer;
  transition: all 0.4s;

  position: relative;
}
.movieCard:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.05);

  box-shadow: 0px 0px 12px rgb(0 6 58 / 40%);

}
.movieCard:hover .movieImg {
  opacity: 0.7;
  /* width: 110%; */
  transform: scale(1.1);
}
.movieCard:hover .underlineMovieTitle {
  width: 350%;
  right: -60px;
}
.movieImgWrapper {
  width: 260px;
  height: 170px;
  overflow: hidden;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;

  border-bottom: 1px solid rgba(0,0,0,0.3);
  transition: all 0.4s;
}
.movieImg {
  width: 260px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  transition: all 0.4s;
  border-bottom: 1px solid var(--primary-color);
  transition: all 0.4s;
  transition: all 0.4s;

}
.movieSynopsisCard {
  max-height: 97px;
  min-height: 97px;
  margin-block-end: 0;

  overflow: hidden;
  text-align: justify;

  display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
           line-clamp: 5; 
   -webkit-box-orient: vertical;
}

.actorDetailsImg {
  width: 160px;
  border-radius: 6px;
}
.actorDetailContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.actorDetailSection1 {
  display: inline-flex;
}
.actorDetailInfos {
  margin-left:50px;
}


.movieContentWrapper {
  position: relative;
  margin: 0 15px;
  overflow: hidden;
}

.movieTitle {
  font-weight: 900;
  font-size: 1.3em;
}

.movieInfosLine {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.moviePubDate {
  position: absolute;
    margin-block-start: 0;
    margin-block-end: 0;
    right: 5px;
    top: 10px;
    opacity: 0.6;
    font-size: 0.9em;
    font-style: italic;
}

.yellow {
  color: var(--secondary-color) !important;
}
.yellowStrong {
  font-size: 1.9em;
  color: var(--secondary-color) !important;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2), 1px -1px 0 rgba(0, 0, 0, 0.2), -1px 1px 0 rgba(0, 0, 0, 0.2), -1px -1px 0 rgba(0, 0, 0, 0.2), 1px 0px 0 rgba(0, 0, 0, 0.2), 0px 1px 0 rgba(0, 0, 0, 0.2), -1px 0px 0 rgba(0, 0, 0, 0.2), 0px -1px 0 rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);

}



.movieContent {
  width: 80%;
  margin: 0 auto;

  font-family: 'Roboto condensed';
}

.countElems {
  position: absolute;
  right: 10px;
  /* top: 0; */
  font-style: italic;
  opacity: 0.7;
  margin-block-start: 0;
  margin-block-end: 0;
}

.filtersContainer {
  display: inline-flex;
}

.genreImg {
  position: absolute;
    width: 35px;
    height: 26px;
    transform: translateX(8px) translateY(-3px);
    opacity: 0.6;
}

.newsStrong {
  color: var(--secondary-color);
  text-shadow: 0 0 black;
}

.filterIcon {
  font-size: 1.8em;
  margin-block-start: 0;
  margin-block-end: 0;
  position: relative;
  top: 10px;
  right: 15px;
  opacity: 0.4;
}

a {
    text-decoration: none;
}

table {
    width:75%;
    position: relative;
    margin: 0 auto;
}

#movieFilterGenreList {
    display: inline-flex;
    list-style-type: none;
    padding-inline-start: 0;
}
#movieFilterGenreList li {
    margin: 0px 4px;

}
#movieFilterGenreList a {
    text-decoration: none;
    border: 1px solid black;
    padding: 9px 10px;
    border-radius: 3px;

    padding-right: 50px;
}

.filterActiv {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 2px;
}

.removeFilter {
    padding: 0px 10px 0px 10px;
    position: relative;
    top: 3px;
    color: red;
    font-size: 1.7em;
}


.form {
    padding: 15px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 15px auto;
}


/* Rating stars */
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #09f;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
  }


  #movieListGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }


  footer {
    /* position: relative; */
    position: fixed;
    height: 40px;
    bottom: 0;

    background-color: var(--primary-color);
    width: 100%;
    margin-top: 20px;
  }
  footer p {
    font-family: 'Roboto condensed', sans-serif;
    position: relative;
    text-align: center;
    color: white;
    opacity: 0.6;
    font-weight: 100;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 10px 0;
  }
  