:root {
  --primary-color: #00063a;
  --secondary-color: #FECC02;
}

body {
  margin: 0;
}
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }
ul {
  list-style: none;
  padding-inline-start: 0;
}

header {
  display: inline-flex;
  width: 100%;
  position: relative;
  height: fit-content;
  background-color: var(--primary-color);
  font-family: 'Righteous', cursive;
  letter-spacing: 2px;
}
#title {
  padding-bottom: 10px;
}
#title h1 {
  font-size: 3.5em;
  margin-block-start: 0;
  margin-block-end: 0;
  color: white;
  margin-left: 32px;
  padding-top: 7px;
}
#title span {
  font-size: 1.5em;
  color: var(--secondary-color);
  letter-spacing: 15px;
  margin-left: 41px;
  position: relative;
  bottom: 5px;
}
header ul {
  position: absolute;
  right: 10px;
  bottom: 0px;
  display: inline-flex;
  color: white;
  list-style-type: none;
  margin-block-end: 3px;
  font-size: 110%;
}
header ul li {
  margin: 0 5px;
  padding: 7px;
  cursor: pointer;

  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-underline-offset: 15px;
  text-decoration-thickness: 0px;
  transition: all 0.5s;
}
header ul li:hover {
  color: var(--secondary-color);
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-underline-offset: 10px;
  text-decoration-thickness: 6px;
}
.activeNav {
  color: var(--secondary-color);
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  text-underline-offset: 10px;
  text-decoration-thickness: 6px;
}





main {
    text-align:center;
    width: 100%;
    margin: 0 auto;
}


#searchDiv {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(0 6 58 / 20%);
}
#searchDiv form {
  position: relative;
  width: 50%;
  margin: 0px auto 0 auto;

}
#searchIcon {
  position: absolute;
  top: 6px;
  /* left: 10px; */
  transform: translateX(8px);
  z-index: 99;
}
#searchSubmit {
  position: absolute;
  top: 4px;
  border-width: 0;
  padding: 3px 8px;
  border-radius: 100px;
  transform: translateX(-42px);
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}
#searchSubmit:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--secondary-color);
}

#inputSearch {
  position: relative;
  width: 60%;
  padding: 5px 25px;
  border: 2px solid var(--primary-color);
  border-radius: 100px;
  /* margin-top: 10px; */
}


#gridHomepage {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."; 

  font-family: 'Roboto Condensed', sans-serif;

}

.subtitleDiv {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
.subtitleDiv h2 {
  margin-block-end: 0;
}
.underlineElem {
  width: 110%;
  position: absolute;
  height: 15px;
  bottom: 3px;
  right: 0px;
  z-index: -99;
  background-color: var(--secondary-color);
}


.newsCard {
  width: 330px;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0 / 15%);
    border-radius: 5px;
    padding-bottom: 15px;
    margin-bottom: 20px;

    cursor: pointer;
    transition: all 0.4s;
}

.newsCard:hover .newsImg {
    opacity: 0.6;
    width: 120%;
}
.newsCard:hover {
  border-color: var(--secondary-color);
}

.newsContent {
  margin: 10px 13px;
  text-align: justify;
  font-size: 105%;
}

.newsImgWrapper {
  width: 330px;
  height: 180px;
  overflow: hidden;
}

.newsImg {
  width: 330px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  transition: all 0.4s;
}







a {
    text-decoration: none;
}

table {
    width:75%;
    position: relative;
    margin: 0 auto;
}

#movieFilterGenreList {
    display: inline-flex;
    list-style-type: none;
    padding-inline-start: 0;
}
#movieFilterGenreList li {
    margin: 0px 12px;

}
#movieFilterGenreList a {
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 2px;
}

.filterActiv {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 2px;
}

.removeFilter {
    padding: 0px 10px 0px 10px;
    position: relative;
    top: 3px;
    color: red;
    font-size: 1.7em;
}


.form {
    padding: 15px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 15px auto;
}


/* Rating stars */
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #09f;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
  }
  