main {
    text-align:center;
}

a {
    text-decoration: none;
}

table {
    width:75%;
    position: relative;
    margin: 0 auto;
}

#movieFilterGenreList {
    display: inline-flex;
    list-style-type: none;
    padding-inline-start: 0;
}
#movieFilterGenreList li {
    margin: 0px 12px;

}
#movieFilterGenreList a {
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 2px;
}

.filterActiv {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 2px;
}

.removeFilter {
    padding: 0px 10px 0px 10px;
    position: relative;
    top: 3px;
    color: red;
    font-size: 1.7em;
}